@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 전체 레이아웃 */
body {
    position:relative;
    margin: 0;
    background: #f5f5f5;
    height: calc(30vw + 15vw * 674);
}
#header {
    position: sticky;
    top: 0;
    background: #f5f5f5;
    z-index:5;
}
#table {
    position: absolute;
    top: 30vw;
    display: grid;
    grid-template-columns: 10vw 15vw 75vw;
    grid-template-rows: repeat(648, 15vw);
    z-index:3;
}

/* 헤더 레이아웃 */
#title {
    height: 20vw;
}
#yearMonth {
    height: 10vw;
    position: relative;
}
.year {
    position: absolute;
    right: 52vw;
}
.month {
    position: absolute;
    left: 52vw;
}

/* 헤더 드롭다운 레이아웃 */
#dropDown {
    position: sticky;
    top: calc(30vw + 2px);
    width: 100vw;
    background-color: #ccc;
    z-index: 10;

    height: 0;
    overflow: hidden;
    transition: height ease 1s 0s;
}
#dropDown div {
    position: relative;
    height: 7vw;
    text-align: center;
}

/* 선 그리기 */
#yearMonth {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}
#table div {
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
#table div:nth-child(3n+1) {
    border-right: 1px solid #d15837;
}
#table div:nth-child(3n+2) {
    border-right: 1px solid #ccc;
}
.first {
    border-top: 1px solid #777 !important;
}

/* 폰트 */
#title {
    font: normal normal 500 2rem/20vw Karla;
    color: #555;
    letter-spacing: 0.225rem;
    text-align: center;
}
.year {
    font: normal normal bold 0.9rem/10vw Inter;
    color: #555;
    text-align: center;
}
.month {
    font: normal normal 300 1rem/10vw Karla;
    color: #333;
    text-align: right;
}
#dropDown .year {
    font: normal normal bold 0.7rem/8vw Inter;
}
#dropDown .month {
    font: normal normal 300 0.8rem/8vw Karla; 
}
#table div:nth-child(3n+1) {
    font: normal normal 200 0.9rem/15vw Inter;
    text-align: center;
}
#table div:nth-child(3n) {
    font: normal normal 200 0.7rem/15vw "Gothic A1";
    text-align: right;
    padding-right: 3vw;
}

/* 스크롤 트랜지션 */
html {
    scroll-behavior: smooth;
}