@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 그림 한 칸 2vw*2vw */

/* 전체 레이아웃 */
body {
    margin: 0;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
header {
    height: 7.5vw;
}
nav {
    position: absolute; 
    top: 7.5vw; /* 헤더 높이 */
}
main {
    height: 40vw;
}
footer {
    height: calc(100vh - 47.5vw);
    background-color: #ddd;
}

/* 헤더 레이아웃 */
#title {
    height: 4vw;
}
#calendar {
    position: relative;
    display: grid;
    grid-template-columns: 4vw 9vw repeat(37, 2vw) 13vw;
    grid-template-rows: 1.5vw 2vw;
}
#below {
    position: absolute; top: 1.5vw; left: 11vw;
    width: 2vw; height: 2vw;
    text-align: center; line-height: 2.6vw; /* 수평 수직 정렬 */
}

/* 네비게이터 레이아웃 */
nav {
    display: grid;
    grid-template-columns: 4vw 9vw;
    grid-template-rows: repeat(12, 2vw);
    grid-auto-flow: column;
    height: 0; overflow: hidden; /* 평상시 안 보이게 초기 설정 */
    transition: all 0.5s; /* 나타나거나 사라질 때 0.5s */
}
nav .empty {
    grid-row: 4 / 13;
}

/* 메인 레이아웃 */
#drawing {
    display: grid;
    grid-template-columns: 13vw 20vw 34vw 20vw 13vw;
    grid-template-rows: 38vw 2vw;
}
/* 이미지 */
#imageBox {
    grid-column: 2 / 5;
    text-align: center;
    padding: 2vw;
    overflow: hidden; /*불필요한 여백 생기는 것 방지*/
}
#imageBox img{
    width: 34vw;
    height: 34vw;
    object-fit: contain;
}
/* 제목 및 이동 버튼 */
#imageTitle {
    text-align: center;
}
#back, #next {
    padding-left: 1vw;
}
#prev {
    text-align: right;
    padding-right: 1vw;
}

/* 선 넣기, 면 채우기 */
html div {
    box-sizing: border-box;
}
#calendar div, #drawing div {
    border-bottom: 2px solid #777;
}
#calendar .year, #calendar .month {
    border-right: 1px solid #777;
}
#calendar .empty {
    border-left: 1px solid #777;
}
#imageTitle {
    border-right: 1px solid #777;
    border-left: 1px solid #777;
    background-color: #eee;
}

/* 폰트 모음 */
#title {
    font: normal normal 500 2.25rem/4.32vw Karla;
    color: #555;
    letter-spacing: 0.225rem;
    text-align: center;
}
.day {
    font: normal normal 300 1rem/1.5vw Karla;
    color: #333;
    text-align: center;
}
.year {
    font: normal normal 700 0.9rem/2vw Inter;
    color: #555;
    text-align: center;
}
.month {
    font: normal normal 300 1rem/2vw Karla;
    color: #333;
    text-align: left;
    padding-left: 0.7vw;
}
.date {
    font: normal normal 300 0.9rem/2vw Inter;
    color: #333;
    text-align: center;
}
#imageBox { /*이미지 없을 때 '(none)'텍스트*/
    font: normal normal 300 1rem/32vw Karla;
    color: #777;
}
#imageTitle {
    font: normal normal 300 1rem/2vw "Gothic A1";
    color: #333;
}
#back, #prev, #next {
    font: normal normal 300 1rem/2vw Karla;
    color: #333;
}
footer div {
    font: normal normal 300 1rem/3vw Karla;
    color: #777;
    text-align: center;
}
footer div span {
    font-weight: 700;
}

/* 미디어쿼리 */
@media screen and (min-width: 1920px) {html {font-size: 16px;}}
@media screen and (min-width: 1680px) and (max-width: 1919px) {html {font-size: 15px;}}
@media screen and (min-width: 1440px) and (max-width: 1679px) {html {font-size: 14px;}}
@media screen and (min-width: 1360px) and (max-width: 1439px) {html {font-size: 13px;}}
@media screen and (min-width: 1280px) and (max-width: 1359px) {html {font-size: 12px;}}
@media screen and (min-width: 1024px) and (max-width: 1280px) {html {font-size: 11px;}}
