@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 그림 한 칸 2vw*2vw */

/* 전체 레이아웃 */
body {
    margin: 0;
    background: #f5f5f5;
    overflow-x: hidden; /*가로 스크롤 안 생기게*/
}
header {
    width: 100vw;
    height: 4vw;
}
main {
    position: relative;
    height: 47.5vw; /*23행 + 요일 1.5vw*/
}
footer {
    height: 3vw;
}

/* 캘린더 레이아웃 */
#calendar {
    width: 100vw;
    display: grid;
    grid-template-columns: 4vw 9vw repeat(37, 2vw) 13vw;
    grid-template-rows: 1.5vw repeat(23, 2vw);
}
#thumbnails {
    position: absolute; top: 1.5vw; left : 13vw;
    width: 74vw; height: 46vw;
    filter:grayscale(100%);
}

/* 캘린더 마우스 오버 시 날짜 표시 */
.image div {
    opacity: 0;
    height: 2vw;
    background: #D15837;
}
.image div:hover {
    opacity: 1; 
}
/* 캘린더 마우스 오버 시 나타나는 제목 */
.imageTitle {
    position: absolute;
    /* top, left, height는 자바스크립트로 지정*/
    background-color: #555;
}

/* 선 넣기, 면 채우기 */
html div {
    box-sizing: border-box;
}
.day {
    border-bottom: 2px solid #777;
}
#calendar div.line {
    border-bottom: 2px solid #777;
}
.year {
    border-right: 1px solid #777;
}
.month {
    border-right: 2px solid #D15837;
    border-bottom: 1px dashed #ccc;
}
.blank {
    border-left: 2px solid #D15837;
    background-color: #ddd;
}

/* z-index 모음 */
.image div, .imageTitle { /*날짜 박스, 제목 박스*/
    z-index: 10 !important;
}
#calendar div { /*캘린더 선*/
    z-index: 5;
}
#thumbnails, .blank {
    z-index: 0;
}

/* 폰트 모음 */
#title {
    font: normal normal 500 2.25rem/4.32vw Karla;
    color: #555;
    letter-spacing: 0.225rem;
    text-align: center;
}
.day {
    font: normal normal 300 1rem/1.5vw Karla;
    color: #333;
    text-align: center;
}
.year {
    font: normal normal 700 0.9rem/2vw Inter;
    color: #555;
    text-align: center;
}
.month {
    font: normal normal 300 1rem/2vw Karla;
    color: #333;
    text-align: left;
    padding-left:0.7vw;
}
.image div { /*날짜 박스*/
    font: normal normal 500 0.9rem/2vw Inter !important;
    color: #f0f0f0;
    text-align: center;
}
.imageTitle { /*제목 박스*/
    font: normal normal 400 0.8rem/2vw "Gothic A1";
    color: #f0f0f0;
    padding: 0 0.5vw;
}
footer div{
    font: normal normal 300 1rem/3vw Karla;
    color: #777;
    text-align: center;
}
footer div span {
    font-weight: 500;
}

/*미디어쿼리*/
@media screen and (min-width: 1920px) {html {font-size: 16px;}}
@media screen and (min-width: 1680px) and (max-width: 1919px) {html {font-size: 15px;}}
@media screen and (min-width: 1440px) and (max-width: 1679px) {html {font-size: 14px;}}
@media screen and (min-width: 1360px) and (max-width: 1439px) {html {font-size: 13px;}}
@media screen and (min-width: 1280px) and (max-width: 1359px) {html {font-size: 12px;}}
@media screen and (min-width: 1024px) and (max-width: 1280px) {html {font-size: 11px;}}