@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 전체 레이아웃 */
body {
    margin: 0;
    background: #f5f5f5;
    /*가로 스크롤 안 생기게*/
    overflow-x: hidden; 
}
header {
    position: relative;
    width: 100vw; height: 4vw;
}
main {
    position: relative;
    /* 1.5vw + (2vw * 23행) */
    width: 100vw; height: 47.5vw; 
}
footer {
    width: 100vw; height: 3vw;
}

/* 헤더 레이아웃 */
#title {
    margin: 0 auto;
    width: 20vw;
}
#searchBar {
    position: fixed; top: 1vw; right: 1vw;
    display: grid;
    grid-template-columns: 9.5vw 1.5vw;
    grid-template-rows: 1.5vw;
}
#searchBox {
    box-sizing: border-box;
    width: 9.5vw; height: 1.5vw;
}

/* 메인 레이아웃 */
#calendar {
    display: grid;
    grid-template-columns: 4vw 9vw repeat(37, 2vw) 13vw;
    grid-template-rows: 1.5vw repeat(23, 2vw);
}
#thumbnails {
    position: absolute; top: calc(1.5vw - 1px); left : 13vw;
    width: 74vw; height: 46vw;
    filter: grayscale(100%);
}

/* 이벤트 관련 모음 */ 

/* 마우스 오버 - 날짜 초기세팅*/
.image div {
    opacity: 0;
    width: 100%; height:100%;
}
/* 마우스 오버 - 현재 날짜 */
.image div.active { 
    opacity: 1; 
    background-color: #D15837;
}
/* 마우스 오버 - 현재 월, 요일 */
.month.active, .day.active {
    font-weight: 500; 
    color: #f0f0f0;
    text-transform: uppercase;
    background-color: #D15837;
}
/* 마우스 오버 - 제목 */
.imageTitle {
    position: absolute;
    /* top, left, height는 자바스크립트로 지정*/
    background-color: #555;
}
/* 검색 - 검색 결과인 날짜 박스 */
.image.result {
    border: 1px solid #D15837;
    z-index: 10;
}
/* 검색 - 검색 결과인 날짜 */
.image.result div {
    height: calc(2vw - 2px);
}
/* 검색 - 검색 결과가 아닌 날짜 박스 */
.image:not(.empty).notResult {
    background-color: rgba(221, 221, 221, 0.9);
}
/* 검색 - 날짜가 아닌 박스 */
.image.empty.notResult {
    background-color: rgba(221, 221, 221, 0.9);
}


/* 선 스타일, 면 스타일 모음 */
html div {
    box-sizing: border-box;
}
.day {
    border-bottom: 2px solid #777;
}
#calendar div.line {
    border-bottom: 2px solid #777;
}
.year {
    border-right: 1px solid #777;
}
.month {
    border-right: 2px solid #D15837;
    border-bottom: 1px dashed #ccc;
}
.blank {
    border-left: 2px solid #D15837;
    background-color: #ddd;
}
#searchBox {
    border: 1px solid #ccc;
    background-color: #eee;
}

/* z-index 모음 */
/* 날짜, 제목 박스(마우스오버) */
.image div, .imageTitle { 
    z-index: 10;
}
/* 캘린더 선 */
#calendar div { 
    z-index: 5;
}
/* 썸네일 */
#thumbnails {
    z-index: 0;
}

/* 폰트 모음 */
/* 헤더 */
#title {
    font: normal normal 500 2.25rem/4vw Karla;
    color: #555;
    text-align: center;
    letter-spacing: 0.225rem;
}
/* 메인 */
.day {
    font: normal normal 300 1rem/1.5vw Karla;
    color: #333;
    text-align: center;
}
.year {
    font: normal normal 700 0.9rem/2vw Inter;
    color: #555;
    text-align: center;
}
.month {
    font: normal normal 300 1rem/2vw Karla;
    color: #333;
    padding-left: 0.7vw;
}
/*날짜 박스*/
.image div { 
    font: normal normal 500 0.9rem/2vw Inter;
    color: #f0f0f0;
    text-align: center;
}
/*제목 박스*/
.imageTitle { 
    font: normal normal 400 0.8rem/2vw "Gothic A1";
    color: #f0f0f0;
    padding: 0 0.5vw;
}
/* 푸터 */
footer div{
    font: normal normal 300 1rem/3vw Karla;
    color: #777;
    text-align: center;
}
footer div span {
    font-weight: 500;
}
/* 검색창 */
::placeholder {
    font: normal normal 300 0.9rem/1.5vw Karla;
    color: #777;
}
#searchBox {
    font: normal normal 300 0.9rem/1.5vw "Gothic A1";
    color: #555; 
    padding-left: 0.5vw;
}
#searchEnter {
    font: normal normal 300 1.2rem/1.5vw Karla;
    color: #777;
    text-align: center;
}

/* 미디어쿼리 */
@media screen and (min-width: 1920px) {html {font-size: 16px;}}
@media screen and (min-width: 1680px) and (max-width: 1919px) {html {font-size: 15px;}}
@media screen and (min-width: 1440px) and (max-width: 1679px) {html {font-size: 14px;}}
@media screen and (min-width: 1360px) and (max-width: 1439px) {html {font-size: 13px;}}
@media screen and (min-width: 1280px) and (max-width: 1359px) {html {font-size: 12px;}}
@media screen and (min-width: 1024px) and (max-width: 1279px) {html {font-size: 11px;}}